* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #2d3436; /* Dark background similar to your image */
}

nav {
    background-color: #333333; /* Darker menu background */
}

.menu {  
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 12px;
    margin: 0 auto;
    background-color: #3498DB; /* Menu background */
}

.menu li {
    margin: 10px 20px;
}

.menu a {
    color: #FFFFFF; /* Menu item color */
    text-decoration: none;
    font-size: 16px;
    padding: 3px;
    transition: color 0.3s;
}

.menu a:hover {
    color: #2ECC71; /* Color change on hover */
}

.header {
    background-color: #333333; /* Darker header background */
    padding: 10px;
    text-align: center;
    height: 70px;
    width: 100%;
}

.header a {
    display: flex;
    align-items: center; /* Căn giữa các phần tử con theo chiều dọc */
    text-decoration: none; /* Loại bỏ gạch chân của liên kết */
    color: #FFFFFF; /* Đặt màu chữ */
}

.header img {
    margin-right: 10px; /* Khoảng cách giữa hình ảnh và văn bản */
}

a#container {
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    margin-top: 5px;
    padding-top: 5px;
    gap: 10px;
}

a#container img {
    max-width: 50px; /* Điều chỉnh kích thước hình ảnh */
    margin-bottom: 10px; /* Khoảng cách giữa hình ảnh và văn bản */
}

#container {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #f5f6fa;
    background-color: #0E1E2A;
}

#container img {
    max-width: 100px; /* Điều chỉnh kích thước hình ảnh */
    margin-bottom: 10px; /* Khoảng cách giữa hình ảnh và văn bản */
}

#meta {
    font-size: 29px; /* Điều chỉnh kích thước chữ */
    font-weight: bold; /* Đặt chữ đậm */
}
