* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #2d3436; /* Dark background similar to your image */
}

nav {
    background-color: #333333; /* Darker menu background */
}

.menu {  
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 12px;
    margin: 0 auto;
    background-color: #3498DB; /* Menu background */
}

.menu li {
    margin: 10px 20px;
}

.menu a {
    color: #FFFFFF; /* Menu item color */
    text-decoration: none;
    font-size: 16px;
    padding: 3px;
    transition: color 0.3s;
}

.menu a:hover {
    color: #2ECC71; /* Color change on hover */
}
 
img {
    width: 5%;
    height: auto;
    object-position: 0px 5%;
    image-rendering: pixelated;
    margin-bottom: 10px;
    vertical-align: middle
  }

#container {
    display: flex;
    align-items: center;
    margin-left: 200px;
    margin-top: 5px;
    font-family: sofia-pro, sans-serif;
    font-size: 42px;
    font-weight: 750;
    column-gap: 10px;   
    text-decoration: none;
    color: #f5f6fa;
}
